@use "variables" as cor;

@mixin tela {
  body {
    // Corpo da página
    font-family: "Rubik", sans-serif;
    color: white;
    background-color: cor.$color-bg;
  }

  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .topo img {
    //Logo da pagina
    width: 200px;
    height: 69.23px;
    margin-top: 40px;
    margin-left: 48px;
  }

  .register {
    //Botão Register
    margin-top: 53px;
    margin-right: 48px;
  }

  .register button {
    width: 176px;
    height: 53px;
    background-color: cor.$color-yellow;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    // Mudar cor do Botão quando passar o mouse
    background-color: white;
  }

  .botao:hover {
    // Mudar cor do Botão quando passar o mouse
    background-color: white;
  }

  .lista {
    // Lista do topo da pagina
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 65px;
    margin-left: 70px;
    :hover {
      color: cor.$color-yellow;
    }
  }

  .lista li {
    margin-right: 64px;
    cursor: pointer;
  }

  .content {
    // Div geral do revolution e imagens
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .revolution {
    @include cor.frases;
    width: 845px;
    height: 228px;
    margin-left: 538px;
    margin-right: 537px;
    margin-top: 127px;
  }

  .lista2 {
    // Lista de baixo da revolution
    display: flex;
    list-style-type: none;
    margin: 63px 300px 0px 285px;
    width: 439px;
    font-size: 16px;

    .relogio {
      width: 160px;
    }

    .cartao {
      width: 203px;
    }

    li {
      color: cor.$color-border;
      margin-left: 76px;
    }

    li img {
      width: 24px;
      height: 24px;
    }
  }
  .cadastro {
    // Cadastro das duas barras
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 216px 0px;

    input {
      // Input das duas barras de email
      width: 384px;
      height: 58px;
      border-radius: 30px;
      margin-right: 20px;
      background-color: transparent;
      border-color: cor.$color-border;
      color: cor.$color-border;
    }

    button {
      // botão das duas barras de registro
      width: 178px;
      height: 58px;
      border-radius: 30px;
      background-color: cor.$color-yellow;
      font-family: "Rubik", sans-serif;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .celular {
    // Div dos celulares e quadrados
    width: 400px;
    height: 426.95px;
    margin: 75px 312px 0px 312px;
    display: flex;
    position: relative;
  }

  .EGigante {
    display: flex;
    position: absolute;
    width: 583px;
    height: 505px;
    margin: 62px 221px 0px 220px;
  }

  .quadrado img {
    //Confere do Quadrado
    width: 24px;
    height: 24px;
    margin-top: 40px;
    margin-left: 32px;
  }

  .quadrado {
    display: flex;
    margin: 46.05px 48px 0px;
    position: relative;
  

  .cd {
    // Quadrado de cima da direita
    background-color: cor.$color-card;
    border-radius: 10px;
    width: 221px;
    height: 282px;
    margin-left: 15px;
  }

  .ce {
    // Quadrado de cima da esquerda
    background-color: cor.$color-card;
    border-radius: 10px;
    width: 221px;
    height: 282px;
  }

  .bd {
    // Quadrado de baixo da direita
    background-color: cor.$color-card;
    border-radius: 10px;
    width: 221px;
    height: 282px;
    margin-left: 15px;
  }

  .be {
    // Quadrado de baixo da esquerda
    background-color: cor.$color-card;
    border-radius: 10px;
    width: 221px;
    height: 282px;
    margin-left: 15px;
  }
}

  .nomecima {
    // Nome de cima do quadrado
    color: cor.$color-letracima;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
    margin-left: 32px;
    margin-bottom: 13px;
  }
  .nomebaixo {
    // Nome de baixo do quadrado
    color: cor.$color-letrabaixo;
    font-size: 16px;
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 33px;
    margin-bottom: 70px;
  }

  .equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 57px 48px 49px 48px;
    color: cor.$color-border;
    width: 928px;
  }

  .barra {
    // barra de diivisão da equipe
    width: 928px;
    border: 1px solid;
    color: cor.$color-border;
    margin: 68px 48px 0px;
  }

  .cadastro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 212px 0px 220px;
  }

  .cadastro2 button {
    @include cor.botao;
  }

  .cadastro2 input {
    @include cor.email;
    border-radius: 30px;
    margin-right: 20px;
  }

  .revolution2 {
    font-size: 64px;
    @include cor.frases;
    margin: 57px 313px 0px 321px;
  }
}
