@use "variables" as cor;

@mixin tela{
    body {
        // Corpo da página
        font-family: "Rubik", sans-serif;
        color: white;
        background-color: cor.$color-bg;
      }
    
      .topo img {
        //Logo da pagina
        display: flex;
        width: 150px;
        height: 54.86px;
        margin: 37.05px 120px 0px 120px;
      
      }
    
      .register {
        display: none;
      }
    
      .register button {
        display: none;
      }
    
      .lista {
        display: none;
      }
    
      .lista li {
        display: none;
      }
    
      .revolution {
        @include cor.frases;
        display: flex;
        font-size: 32px;
        width: 334px;
        height: 152px;
        margin: 63.1px 28px 0px 28px;
      }
    
      .lista2 {
        // Lista de baixo da revolution
        list-style-type: none;
        width: 203px;
        height: 64px;
        margin: 56px 60px 0px;
        font-size: 16px;
      }
    
      .relogio {
        margin-left: 21.5px;
      }

      .lista2 li {
        margin-top: 16px;
        display: flex;
        color: cor.$color-border;
      }
    

    
      .lista2 li img {
        width: 24px;
        height: 24px;
      }
    
      .cadastro {
        // Cadastro das duas barras
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 56px 19px 0px;
        width: 352px;
        height: 128px;
      }
    
      .cadastro input {
        // Input das duas barras de email
        width: 352px;
        height: 58px;
        border-radius: 30px;
        background-color: transparent;
        border-color: cor.$color-border;
        color: cor.$color-border;
      }
    
      .cadastro button {
        // botão das duas barras de registro
        width: 360px;
        height: 58px;
        margin-top: 12px;
        border-radius: 30px;
        background-color: cor.$color-yellow;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
        cursor: pointer;
      }
    
      .imagens {
        // Div dos celulares e quadrados
        display: flex;
        flex-direction: column;
        margin: 38px 60px 0px;
      }

      .EGigante {
        display: none;
      }
    
      .celular img{
        width: 270px;
        height: 288px;
      }
    
      .quadrado img {
        //Confere do Quadrado
        width: 24px;
        height: 24px;
        margin-top: 40px;
        margin-left: 32px;
      }
    
      .cd {
        // Quadrado de cima da direita
        @include cor.quadrado;
        margin-top: 32px;
      }
    
      .ce {
        // Quadrado de cima da esquerda
        @include cor.quadrado;
        margin-top: 55px
      }
    
      .bd {
        // Quadrado de baixo da direita
        @include cor.quadrado;
        margin-top: 32px;
      }
    
      .be {
        // Quadrado de baixo da esquerda
        @include cor.quadrado;
        margin-top: 32px;
      }
    
      .nomecima {
        // Nome de cima do quadrado
        color: cor.$color-letracima;
        font-weight: bold;
        font-size: 24px;
        margin-top: 8px;
        margin-left: 32px;
        margin-bottom: 13px;
      }
      .nomebaixo {
        // Nome de baixo do quadrado
        color: cor.$color-letrabaixo;
        font-size: 16px;
        margin-top: 13px;
        margin-left: 32px;
        margin-right: 33px;
        margin-bottom: 70px;
      }
    
      .equipe {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin: 32px 42px 0px;
        height: 19px;
        color: cor.$color-border;
      }
    
      .barra {
        // barra de diivisão da equipe
        width: 352px;
        margin: 49px 19px 0px;
        border: 1px solid;
        color: cor.$color-border;
        
      }
    
      .cadastro2 button{
        width: 360px;
        height: 58px;
        margin-top: 12px;
        border-radius: 30px;
        background-color: cor.$color-yellow;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
        cursor: pointer;
      }
    
      .cadastro2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 32px 19px 0px;
        width: 352px;
        height: 128px;
      }
    
      .cadastro2 input{
        width: 352px;
        height: 58px;
        border-radius: 30px;
        background-color: transparent;
        border-color: cor.$color-border;
        color: cor.$color-border;
      }
      
    
      .revolution2{
        @include cor.frases;
        display: flex;
        font-size: 32px;
        width: 334px;
        height: 38px;
        margin: 55px 28px 0px;
      }
}